@import url('redwood-theme.css');

table.oum {
	border-width: 1px 1px 1px 1px;
	border-spacing: 1px;
	border-style: none none none none;
	border-color: gray gray gray gray;
	background-color: white;
	border-collapse: separate;
}
table.oum th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	-moz-border-radius: 3px 3px 3px 3px;
}
table.oum td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	-moz-border-radius: 3px 3px 3px 3px;
}
.MethodNavigation {width: 280px;
}
.PageNavigation {width: 280px;
}